# Python virual environment
.venv

# Byte-compiled / optimized / DLL files
__pycache__

# Built package
dist

# pytest-cov cache and result
.coverage
coverage.xml

# Visual Studio Code Plugin folder
.vscode

# PyTest Cache folder
.pytest_cache

# log files
*.log
